@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .box-shadow {
        box-shadow: -5px 5px 0px 0px rgba(255,137,6,0.75);
        -webkit-box-shadow: -5px 5px 0px 0px rgba(255,137,6,0.75);
        -moz-box-shadow: -5px 5px 0px 0px rgba(255,137,6,0.75);
    }
}